{{!< default}}
{{! Authors page template }}
<div class="gh-page">
  <header class="gh-page-header gh-canvas">
    <h1 class="gh-page-title">{{title}}</h1>
  </header>
  <div class="gh-content gh-canvas">
    {{content}}
  </div>
</div>
